/* Remove default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
    background-color: #ffffff;
}

/* Logo */
.logo h2{
    color: #222;
}

/* Menu */
.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin: 0 18px;
}

.menu li a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.menu li a:hover{
    color: blue;
}

/* Button */
.button a{
    text-decoration: none;
    background-color: blue;
    color: white;

    padding: 12px 22px;
    border-radius: 5px;
}

.button a:hover{
    background-color: darkblue;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 40px;
    height: 40px;
}

.logo h2{
    font-size: 24px;
    color: #222;
}
/* Hero Section */

.hero{
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* Dark Overlay */

.overlay{
    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    padding: 20px;
}

/* Heading */

.overlay h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* Italic Word */

.overlay h1 em{
    font-style: italic;
    color: #4da6ff;
}

/* Paragraph */

.overlay p{
    width: 650px;
    max-width: 90%;

    font-size: 18px;
    line-height: 1.7;

    margin-bottom: 30px;
}

/* Button */

.hero-btn{
    text-decoration: none;

    background-color: #0066ff;
    color: white;

    padding: 15px 35px;

    border-radius: 6px;

    font-size: 18px;
    font-weight: bold;
}

.hero-btn:hover{
    background-color: #0047cc;
}

.hero{
    position: relative;
    height: 90vh;
}

.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
/* Speakers Section */

.speakers{
    padding: 80px 100px;
}

.speakers h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}

/* Grid */

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

/* Card */

.speaker-card{
    background-color: white;
}

/* Image */

.speaker-card img{

    .speaker-card img
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top center;
    display: block;

}

/* Category */

.category{
    color: #3b82f6;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 18px;
}

/* Name */

.speaker-card h3{
    font-size: 28px;
    margin: 10px 0;
}

/* Company */

.company{
    color: gray;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Pricing Section */

.pricing{
    padding: 90px 80px;
    text-align: center;
}

.pricing h2{
    font-size: 48px;
    margin-bottom: 15px;
}

.subtitle{
    color: gray;
    margin-bottom: 50px;
    font-size: 18px;
}

/* Cards */

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Single Card */

.price-card{
    width: 340px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    text-align: left;
    background: white;
}

/* Highlight Pro Card */

.pro{
    background: #0f172a;
    color: white;
    transform: scale(1.05);
}

.pro .person{
    color: #cbd5e1;
}

.pro ul li{
    color: #f1f5f9;
}

.pro a{
    background: #2563eb;
    color: white;
    border: none;
}

/* Text */

.price-card h4{
    color: #2563eb;
    font-size: 14px;
    margin-bottom: 15px;
}

.price-card h1{
    font-size: 55px;
    margin-bottom: 5px;
}

.person{
    color: gray;
    margin-bottom: 25px;
}

/* List */

.price-card ul{
    padding-left: 20px;
    margin-bottom: 30px;
}

.price-card ul li{
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Button */

.price-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 2px solid #2563eb;
    color: #2563eb;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
}

.price-card a:hover{
    background: #2563eb;
    color: white;
}





/* Footer */

.footer{
    background-color: #111827;
    color: white;
    padding: 40px 80px;
}

/* Top */

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* Logo */

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    width: 40px;
    height: 40px;
}

.footer-logo h2{
    font-size: 24px;
}

/* Social Icons */

.social-links{
    display: flex;
    gap: 15px;
}

.social-links img{
    width: 30px;
    height: 30px;
}

/* Divider */

.footer hr{
    border: none;
    border-top: 1px solid #555;
    margin-bottom: 20px;
}

/* Copyright */

.copyright{
    text-align: center;
    color: #cbd5e1;
    font-size: 15px;
}